# Dependencies
node_modules
.pnpm-store

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Production
.vercel

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
Thumbs.db

# Git
.git
.gitignore

# CI/CD
.github

# Documentation
README.md
CHANGELOG.md
LICENSE

# Helm
helm-chart

# Database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal
